In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import scipy
from scipy import stats

In [2]:
pd.__version__

'1.3.4'

In [3]:
file = "data-pelayanan-pengelolaan-sampah-b3-rumah-tangga-bulan-april-tahun-2021.csv"

limbah = pd.read_csv(file)

limbah.columns = [
    "Wilayah",
    "No_Kecamatan",
    "Kemasan_kaleng(kg)",
    "Kemasan_plastik(kg)",
    "E-waste(kg)",
    "Baterai(kg)",
    "Lampu_bekas(kg)",
    "Lb3_rt(kg)",
    "Limbah_medis(kg)",
    "Lb3_rt_dan_medis(kg)",
    "Oli_bekas(L)"
]

limbah.head()

,Wilayah,No_Kecamatan,Kemasan_kaleng(kg),Kemasan_plastik(kg),E-waste(kg),Baterai(kg),Lampu_bekas(kg),Lb3_rt(kg),Limbah_medis(kg),Lb3_rt_dan_medis(kg),Oli_bekas(L)
0,Jakarta Barat,8,756.93,284.98,102.605,0.2,7.84,1152.555,25.63,1178.185,0
1,Jakarta Utara,6,158.17,12.86,139.370,0.0,0.00,310.400,0.00,310.400,0
2,Jakarta Selatan,10,238.07,58.00,658.590,0.9,10.50,966.060,63.80,1029.860,0
3,Jakarta Pusat,8,166.35,70.00,174.150,16.0,23.00,449.500,27.30,476.800,0
4,Jakarta Timur,10,353.55,48.12,309.950,0.0,7.00,718.620,0.00,718.620,0

In [4]:
limbah = limbah.drop(columns=["Lb3_rt(kg)","Lb3_rt_dan_medis(kg)"])
limbah.head()

,Wilayah,No_Kecamatan,Kemasan_kaleng(kg),Kemasan_plastik(kg),E-waste(kg),Baterai(kg),Lampu_bekas(kg),Limbah_medis(kg),Oli_bekas(L)
0,Jakarta Barat,8,756.93,284.98,102.605,0.2,7.84,25.63,0
1,Jakarta Utara,6,158.17,12.86,139.370,0.0,0.00,0.00,0
2,Jakarta Selatan,10,238.07,58.00,658.590,0.9,10.50,63.80,0
3,Jakarta Pusat,8,166.35,70.00,174.150,16.0,23.00,27.30,0
4,Jakarta Timur,10,353.55,48.12,309.950,0.0,7.00,0.00,0

In [5]:
all_limbah = limbah.head(5)
all_limbah = all_limbah.append(limbah.tail(1))
print(all_limbah)

            Wilayah  No_Kecamatan  Kemasan_kaleng(kg)  Kemasan_plastik(kg)  \
0     Jakarta Barat             8              756.93               284.98
1     Jakarta Utara             6              158.17                12.86
2   Jakarta Selatan            10              238.07                58.00
3     Jakarta Pusat             8              166.35                70.00
4     Jakarta Timur            10              353.55                48.12
5  Kepulauan Seribu             2              108.90                17.70

   E-waste(kg)  Baterai(kg)  Lampu_bekas(kg)  Limbah_medis(kg)  Oli_bekas(L)
0      102.605         0.20             7.84            25.630             0
1      139.370         0.00             0.00             0.000             0
2      658.590         0.90            10.50            63.800             0
3      174.150        16.00            23.00            27.300             0
4      309.950         0.00             7.00             0.000             0
5       82.000         0.15            14.05            12.075             0

In [6]:
limbah.sum()

Wilayah                Jakarta BaratJakarta UtaraJakarta SelatanJakar...
No_Kecamatan                                                          44
Kemasan_kaleng(kg)                                               1781.97
Kemasan_plastik(kg)                                               491.66
E-waste(kg)                                                     1466.665
Baterai(kg)                                                        17.25
Lampu_bekas(kg)                                                    62.39
Limbah_medis(kg)                                                 128.805
Oli_bekas(L)                                                           0
dtype: object

In [7]:
limbah.sum(axis=1,numeric_only=True)

0    1186.185
1     316.400
2    1039.860
3     484.800
4     728.620
5     236.875
dtype: float64

In [8]:
limbah.median(numeric_only=True)

No_Kecamatan             8.0000
Kemasan_kaleng(kg)     202.2100
Kemasan_plastik(kg)     53.0600
E-waste(kg)            156.7600
Baterai(kg)              0.1750
Lampu_bekas(kg)          9.1700
Limbah_medis(kg)        18.8525
Oli_bekas(L)             0.0000
dtype: float64

In [9]:
limbah.mean(numeric_only=True)

No_Kecamatan             7.333333
Kemasan_kaleng(kg)     296.995000
Kemasan_plastik(kg)     81.943333
E-waste(kg)            244.444167
Baterai(kg)              2.875000
Lampu_bekas(kg)         10.398333
Limbah_medis(kg)        21.467500
Oli_bekas(L)             0.000000
dtype: float64

In [8]:
limbah.max()

wilayah                    Kepulauan Seribu
jumlah_kecamatan                         10
kemasan_kaleng_/kg                   756.93
kemasan_plastik_/kg                  284.98
e-waste_/kg                          658.59
baterai_/kg                            16.0
lampu_bekas/kg                         23.0
jumlah_lb3_rumah_tangga            1152.555
limbah_medis/kg                        63.8
jumlah_lb3_rt_dan_medis            1178.185
oli_bekas(liter)                          0
dtype: object

In [10]:
limbah.max(axis=1,numeric_only=True)

0    756.93
1    158.17
2    658.59
3    174.15
4    353.55
5    108.90
dtype: float64

In [3]:
limbah.min()

wilayah                    Jakarta Barat
jumlah_kecamatan                       2
kemasan_kaleng_/kg                 108.9
kemasan_plastik_/kg                12.86
e-waste_/kg                         82.0
baterai_/kg                          0.0
lampu_bekas/kg                       0.0
jumlah_lb3_rumah_tangga            222.8
limbah_medis/kg                      0.0
jumlah_lb3_rt_dan_medis          234.875
oli_bekas(liter)                       0
dtype: object

In [11]:
limbah.min(axis=1,numeric_only=True)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
dtype: float64

In [7]:
limbah.std(numeric_only=True)

No_Kecamatan             3.011091
Kemasan_kaleng(kg)     240.803261
Kemasan_plastik(kg)    101.964254
E-waste(kg)            218.309914
Baterai(kg)              6.438614
Lampu_bekas(kg)          7.724844
Limbah_medis(kg)        23.888538
Oli_bekas(L)             0.000000
dtype: float64

In [8]:
limbah.std(axis=1,numeric_only=True)

0    264.463732
1     67.749017
2    227.690269
3     70.827714
4    149.842895
5     41.798855
dtype: float64

In [10]:
limbah.var(numeric_only=True)

No_Kecamatan               9.066667
Kemasan_kaleng(kg)     57986.210710
Kemasan_plastik(kg)    10396.709027
E-waste(kg)            47659.218464
Baterai(kg)               41.455750
Lampu_bekas(kg)           59.673217
Limbah_medis(kg)         570.662237
Oli_bekas(L)               0.000000
dtype: float64

In [11]:
limbah.var(axis=1,numeric_only=True)

0    69941.065292
1     4589.929343
2    51842.858650
3     5016.565000
4    22452.893050
5     1747.144275
dtype: float64

In [12]:
limbah.describe()

,No_Kecamatan,Kemasan_kaleng(kg),Kemasan_plastik(kg),E-waste(kg),Baterai(kg),Lampu_bekas(kg),Limbah_medis(kg),Oli_bekas(L)
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.0
mean,7.333333,296.995000,81.943333,244.444167,2.875000,10.398333,21.467500,0.0
std,3.011091,240.803261,101.964254,218.309914,6.438614,7.724844,23.888538,0.0
min,2.000000,108.900000,12.860000,82.000000,0.000000,0.000000,0.000000,0.0
25%,6.500000,160.215000,25.305000,111.796250,0.037500,7.210000,3.018750,0.0
50%,8.000000,202.210000,53.060000,156.760000,0.175000,9.170000,18.852500,0.0
75%,9.500000,324.680000,67.000000,276.000000,0.725000,13.162500,26.882500,0.0
max,10.000000,756.930000,284.980000,658.590000,16.000000,23.000000,63.800000,0.0

In [16]:
limbah_new = limbah.drop(columns=["Wilayah"])
limbah_new.head()

,No_Kecamatan,Kemasan_kaleng(kg),Kemasan_plastik(kg),E-waste(kg),Baterai(kg),Lampu_bekas(kg),Limbah_medis(kg),Oli_bekas(L)
0,8,756.93,284.98,102.605,0.2,7.84,25.63,0
1,6,158.17,12.86,139.370,0.0,0.00,0.00,0
2,10,238.07,58.00,658.590,0.9,10.50,63.80,0
3,8,166.35,70.00,174.150,16.0,23.00,27.30,0
4,10,353.55,48.12,309.950,0.0,7.00,0.00,0

In [17]:
limbah_new_tr = limbah_new.T
limbah_new_tr.head()

                           0       1       2       3       4       5
No_Kecamatan           8.000    6.00   10.00    8.00   10.00    2.00
Kemasan_kaleng(kg)   756.930  158.17  238.07  166.35  353.55  108.90
Kemasan_plastik(kg)  284.980   12.86   58.00   70.00   48.12   17.70
E-waste(kg)          102.605  139.37  658.59  174.15  309.95   82.00
Baterai(kg)            0.200    0.00    0.90   16.00    0.00    0.15

In [18]:
limbah_new_tr.describe()

                0           1           2           3           4           5
count    8.000000    8.000000    8.000000    8.000000    8.000000    8.000000
mean   148.273125   39.550000  129.982500   60.600000   91.077500   29.609375
std    264.463732   67.749017  227.690269   70.827714  149.842895   41.798855
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      5.930000    0.000000    7.725000   14.000000    0.000000    1.537500
50%     16.815000    3.000000   34.250000   25.150000    8.500000   13.062500
75%    148.198750   44.487500  107.367500   94.087500  113.577500   33.775000
max    756.930000  158.170000  658.590000  174.150000  353.550000  108.900000

In [20]:
covariance = limbah.cov()
print(covariance)

                     No_Kecamatan  Kemasan_kaleng(kg)  Kemasan_plastik(kg)  \
No_Kecamatan             9.066667          280.296000            81.618667
Kemasan_kaleng(kg)     280.296000        57986.210710         23223.266380
Kemasan_plastik(kg)     81.618667        23223.266380         10396.709027
E-waste(kg)            428.823333        -6322.043965         -4479.166777
Baterai(kg)              2.480000         -415.915950           -36.334300
Lampu_bekas(kg)         -1.541333         -452.901370           -14.735273
Limbah_medis(kg)        28.204000          438.172685           514.890770
Oli_bekas(L)             0.000000            0.000000             0.000000

                      E-waste(kg)  Baterai(kg)  Lampu_bekas(kg)  \
No_Kecamatan           428.823333     2.480000        -1.541333
Kemasan_kaleng(kg)   -6322.043965  -415.915950      -452.901370
Kemasan_plastik(kg)  -4479.166777   -36.334300       -14.735273
E-waste(kg)          47659.218464  -160.941975       -40.810672
Baterai(kg)           -160.941975    41.455750        40.350850
Lampu_bekas(kg)        -40.810672    40.350850        59.673217
Limbah_medis(kg)      3781.324453    26.168575        65.807125
Oli_bekas(L)             0.000000     0.000000         0.000000

                     Limbah_medis(kg)  Oli_bekas(L)
No_Kecamatan                28.204000           0.0
Kemasan_kaleng(kg)         438.172685           0.0
Kemasan_plastik(kg)        514.890770           0.0
E-waste(kg)               3781.324453           0.0
Baterai(kg)                 26.168575           0.0
Lampu_bekas(kg)             65.807125           0.0
Limbah_medis(kg)           570.662237           0.0
Oli_bekas(L)                 0.000000           0.0

In [22]:
corrrelation1 = limbah.corr(method="pearson")

print("Pearson correlation coefficient:")
print(corrrelation1)

Pearson correlation coefficient:
                     No_Kecamatan  Kemasan_kaleng(kg)  Kemasan_plastik(kg)  \
No_Kecamatan             1.000000            0.386572             0.265838
Kemasan_kaleng(kg)       0.386572            1.000000             0.945830
Kemasan_plastik(kg)      0.265838            0.945830             1.000000
E-waste(kg)              0.652351           -0.120260            -0.201222
Baterai(kg)              0.127919           -0.268257            -0.055345
Lampu_bekas(kg)         -0.066265           -0.243473            -0.018708
Limbah_medis(kg)         0.392100            0.076172             0.211387
Oli_bekas(L)                  NaN                 NaN                  NaN

                     E-waste(kg)  Baterai(kg)  Lampu_bekas(kg)  \
No_Kecamatan            0.652351     0.127919        -0.066265
Kemasan_kaleng(kg)     -0.120260    -0.268257        -0.243473
Kemasan_plastik(kg)    -0.201222    -0.055345        -0.018708
E-waste(kg)             1.000000    -0.114499        -0.024200
Baterai(kg)            -0.114499     1.000000         0.811280
Lampu_bekas(kg)        -0.024200     0.811280         1.000000
Limbah_medis(kg)        0.725072     0.170137         0.356610
Oli_bekas(L)                 NaN          NaN              NaN

                     Limbah_medis(kg)  Oli_bekas(L)
No_Kecamatan                 0.392100           NaN
Kemasan_kaleng(kg)           0.076172           NaN
Kemasan_plastik(kg)          0.211387           NaN
E-waste(kg)                  0.725072           NaN
Baterai(kg)                  0.170137           NaN
Lampu_bekas(kg)              0.356610           NaN
Limbah_medis(kg)             1.000000           NaN
Oli_bekas(L)                      NaN           NaN

In [25]:
cov_rows = limbah_new_tr.cov()
print(cov_rows)

              0             1             2             3             4  \
0  69941.065292  12974.700429  15988.599184  13256.710607  29318.339216
1  12974.700429   4589.929343  12731.805314   4622.460714  10140.091029
2  15988.599184  12731.805314  51842.858650  13916.931000  28079.461407
3  13256.710607   4622.460714  13916.931000   5016.565000  10320.837571
4  29318.339216  10140.091029  28079.461407  10320.837571  22452.893050
5   8742.985824   2789.181250   7300.749045   2850.198214   6187.655170

             5
0  8742.985824
1  2789.181250
2  7300.749045
3  2850.198214
4  6187.655170
5  1747.144275

In [26]:
corr_rows = limbah_new_tr.corr(method="pearson")
print(corr_rows)

          0         1         2         3         4         5
0  1.000000  0.724149  0.265522  0.707728  0.739839  0.790914
1  0.724149  1.000000  0.825358  0.963312  0.998856  0.984939
2  0.265522  0.825358  1.000000  0.862970  0.823016  0.767112
3  0.707728  0.963312  0.862970  1.000000  0.972469  0.962737
4  0.739839  0.998856  0.823016  0.972469  1.000000  0.987929
5  0.790914  0.984939  0.767112  0.962737  0.987929  1.000000